<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>best-places</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="shortcut icon" type="image" href="./assets/img/az-icon.png">

    <link rel="stylesheet" href="./assets/scss/best-places.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!--==================== HEADER ====================-->

    <header>

        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>
            </ul>
        </div>

    </header>

    <!--==================== MAIN ====================-->

    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="./assets/img/qiz qalasi.jfif" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Maiden Tower</h5>
                                    <p class="card-text">The Maiden Tower is a 12th-century monument in the Old City, Baku, Azerbaijan. It listed in 2001 under the UNESCO World Heritage List of Historical Monuments as cultural property, Category III.</p>
                                    <p class="card-text"><small class="text-muted">Baku city</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="./assets/img/ganja.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Nizami Mausoleum</h5>
                                    <p class="card-text">The Nizami Mausoleum built in honor of the 12th-century Persian poet Nizami Ganjavi. The mausoleum was built in 1947 in place of an old collapsed mausoleum, and rebuilt in its present form in 1991.</p>
                                    <p class="card-text"><small class="text-muted">Ganja city</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="./assets/img/nohur-lake.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Nohur Lake</h5>
                                    <p class="card-text">Nohur Lake is one of the most popular and visited natural attractions of Gabala, Azerbaijan. Located about 5 km. east of the Gabala city.</p>
                                    <p class="card-text"><small class="text-muted">Gabala city</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="./assets/img/shusha-castle-card.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Shusha Fortress</h5>
                                    <p class="card-text">Shusha fortress is a fortress surrounding the historical centre of Shusha. The area where the fortress was built is a mountainous plateau in the form of amphitheater from the west with numerous hills and rifts.
                                    </p>
                                    <p class="card-text"><small class="text-muted">Shusha city</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="./assets/img/neft daslari.jfif" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Neft Dashlary</h5>
                                    <p class="card-text">Neft Dashlary is an industrial settlement in Baku, Azerbaijan. The settlement of Neft Dashlary was built after oil was discovered there on 7 November 1949,at 1,100 metres (3,600 ft) beneath the Caspian Sea.</p>
                                    <p class="card-text"><small class="text-muted">Baku Province</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="./assets/img/qobustan.jfif" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Gobustan</h5>
                                    <p class="card-text">Gobustan State Reserve is very rich in archeological monuments, the reserve has more than 6,000 rock carvings, on the average dating back to 5,000-20,000 years.</p>
                                    <p class="card-text"><small class="text-muted">Baku Province</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--==================== FOOTER ====================-->

    <footer>

        <div class="container">

            <div class="footer__rights">
                <div class="row">
                    <div class="col">
                        <p class="footer__copy">&#169; 2021 Vasif Huseynov. All rigths reserved.</p>
                    </div>
                    <div class="col">
                        <div class="footer__terms">
                            <a href="#" class="footer__terms-link">Terms & Agreements</a>
                            <a href="#" class="footer__terms-link">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>


</body>

</html>